{% extends 'base.html' %}

{% block style %}
{% endblock %}

{% block base_content %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{% url list_exams %}">NantiSchool</a>
          <div class="nav-collapse collapse">
            <p style="margin-left: 20px; color: white !important; text-decoration: none;" class="navbar-text pull-right"><a style="color: white;" href="{% url logout %}">Útskrá</a></p>
            <p class="navbar-text pull-right">
              Innskráður sem <a href="#" class="navbar-link">{{ request.user.username }}</a>
            </p>

            <ul class="nav">
              <li><h5 id="savingMessage" style="color: white; font-weight: bold;"></h5></li>
              <li ><img id="titleLoader" style="margin-left: 15px; display: none; height: 40px important!; margin-top: 10px;"  src="/static/img/loader.gif" /></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Aðalvalmynd</li>
              <li class="{% block exams %}{% endblock %}"><a href="{% url list_exams %}">Próf</a></li>
              {% if request.user.userprofile_set.get.is_teacher %}
              <li class="nav-header">Kennaratól</li>
              <li class="{% block create_exam %}{% endblock %}"><a href="{% url create_exams %}">Bæta við prófi</a></li>
                  <li><a href="#"><span data-target="#notendaumsjon" data-toggle="collapse">Notendaumsjón <i class="icon-chevron-down"></i></span></a></li>
                  <ul class="nav nav-list collapse" id="notendaumsjon">
                      <li><a href="/adduser">Bæta við notanda</a></li>
                      <li><a href="/edituser">Breyta notendum</a></li>
                  </ul>
              {% endif %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">

          {% block content %}
          {% endblock %}

        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; 1337 d351gn3r5 2013</p>
      </footer>

    </div><!--/.fluid-container-->

{% endblock %}

