{% extends 'NantiSchool/home.html' %}

{% block style %}
    form {padding-left: 20px;}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <h2>Bæta við notanda</h2>
                <div class="span4">
                    <div class="adduser-form well well-large">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <form action="" method="post">{% csrf_token %}
                                <fieldset>
                                    <table>
                                        <tr>
                                            <td>
                                                <div align="right">Nafn:</div>
                                            </td>
                                            <td>
                                                <div class="clearfix">
                                                    <input type="text" name="firstname">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div align="right">Notendanafn:</div>
                                            </td>
                                            <td>
                                                <div class="clearfix">
                                                    <input type="text" name="username">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div align="right">Lykilorð:</div>
                                            </td>
                                            <td>
                                                <div class="clearfix">
                                                    <input type="password" name="password">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div align="right">Email:</div>
                                            </td>
                                            <td>
                                                <div class="clearfix">
                                                    <input type="email" name="email">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div align="right">Kennari:</div>
                                            </td>
                                            <td>
                                                <div class="clearfix">
                                                    <input type="checkbox" name="teacher" value="true">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div align="right"><button class="btn btn-primary" type="submit">Bæta við</button></div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}