{% extends 'NantiSchool/home.html' %}

{% block style %}
    form {padding-left: 20px;}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <h2>Breyta notanda</h2>
                <div class="span4">
                    <div class="adduser-form well well-large">
                            <form action="{% url updateuser %}" method="POST" >{% csrf_token %}
                                <fieldset>
                                    {% if msg %}
                                        {{ msg }}
                                    {% endif %}
                                    <table>
                                        <tr>
                                            <td>
                                                <div align="right">Nafn:</div>
                                            </td>
                                            <td>
                                                <div class="clearfix">
                                                    <input type="text" name="firstname" value="{{ user.first_name }}">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div align="right">Notendanafn:</div>
                                            </td>
                                            <td>
                                                <div class="clearfix">
                                                    <input type="text" name="username" value="{{ user.username }}">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div align="right">Nýtt lykilorð:</div>
                                            </td>
                                            <td>
                                                <div class="clearfix">
                                                    <input type="password" name="password">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div align="right">Email:</div>
                                            </td>
                                            <td>
                                                    <div class="clearfix">
                                                    <input type="email" name="email" value="{{ user.email }}">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div align="right">Kennari:</div>
                                            </td>
                                            <td>
                                                <div class="clearfix">
                                                    <input type="checkbox" name="teacher" {% if user.profile.is_teacher %} checked {% endif %}>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div align="right">
                                        <button id="changebutton" class="btn btn-primary" type="submit">Breyta</button>
                                        <button id="deletebutton" class="btn btn-danger confirm-delete">Eyða</button>
                                    </div>
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                </fieldset>
                            </form>
                            <div align="right"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- The conformation dialog -->
            <div id="modal-from-dom" class="modal hide fade">
                <div class="modal-header">
                    <h3>Eyða {{ user.first_name }}?</h3>
                </div>
                <div class="modal-body">
                    <p>Þú ert að fara að eyða notandanum {{ user.first_name }}.</p>
                    <p>Þetta er óafturkræf aðgerð.</p>
                    <p>Ertu viss um að þú viljir halda áfram?</p>
                </div>
                <div class="modal-footer">
                    <a href="javascript:$('#modal-from-dom').modal('hide')" class="btn secondary">Nei</a>
                    <a href="/deluser/{{ user.id }}" class="btn btn-danger">Já</a>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
    <script type="text/javascript" src="/static/js/confirmdelete.js"></script>
{% endblock %}