{% extends 'NantiSchool/home.html' %}

{% block style %}
    form {padding-left: 20px;}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <h2>NantiSchool Users</h2>
            <div>
                <div class="span9">
                    <div class="adduser-form well">
                            <h2>Notendur</h2>
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <table class="table table-hover">
                                <tr>
                                    <th>#</th>
                                    <th>Nafn</th>
                                    <th>Notendanafn</th>
                                    <th>Email</th>
                                    <th>Kennari</th>
                                </tr>
                                {% for user in users %}
                                <tr onclick="document.location = '/edituser/{{ user.id }}';">
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>

                                    {% if user.profile.is_teacher %}
                                    <td><i class="icon-ok-circle"></i></td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}