{% extends 'base.html' %}

{% block style %}
form {padding-left: 20px;}
{% endblock %}

{% block base_content %}
<div class="container">
	<div class="content">
		<div class="row">
			<div class="span4"></div>
			<div class="span4">
				<h2>NantiSchool Innskráning</h2>
			</div>
		</div>
		<div class="row">
			<div class="span4"></div>
			<div class="span4">
				<div class="login-form well">
					<div style="padding-left: 40px;">
						<h2>Innskráning</h2>
						<form action="{% url login %}" method="POST" >{% csrf_token %}
							<fieldset>
								{% if error %}
								{{ error }}
								{% endif %}
								<div class="clearfix">
									<input type="text" name="username" placeholder="Username">
								</div>
								<div class="clearfix">
									<input type="password" name="password" placeholder="Password">
								</div>
								<button class="btn btn-primary" type="submit">Skrá inn</button>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> <!-- /container -->
{% endblock %}