{% extends 'NantiSchool/home.html' %}

{% block create_exam %}active{% endblock %}

{% block style %}
	.hugeInput {font-size: 30px !important; height: 45px !important; width: 60% !important; }
	.hugeDate {font-size: 30px !important; height: 45px !important; width: 25% !important; }
	.hugeLabel {font-size: 25px; width: 20%; margin-top: 12px; }
	.questionInput {font-size: 30px !important; height: 45px !important; width: 90% !important;}
	#upperButtons {margin-bottom: 30px;}
	.deleteButton {color: red; height: 20px; width: 30px; font-size: 40px; opacity: 1;}
	.deleteButton:hover {text-decoration: none; color: red; opacity: 0.8;}
	.optionBox {width: 70%; background-image: url('/static/img/pw_maze_white.png'); height: 40px;}
	.OptiondeleteButton {color: red; height: 20px; width: 15px; font-size: 25px; opacity: 1; margin: -10px -10px 0 0;}
	.OptiondeleteButton:hover {text-decoration: none; color: red; opacity: 0.8;}
{% endblock %}

{% block content %}



<div class="row">
	<a class="btn btn-large pull-right" href="{% url list_exams %}">Hætta</a>
		<form class="form-horizontal" >{% csrf_token %}
			<input type="hidden" id="examId" value="{{exam.id}}" />
			<div class="modal-header">
				<h1>Breyta prófi</h1>
				<h5>Prófinu og svarmöguleikum er breytt jafnóðum.</h5>
			</div>
			<div class="modal-body">
				<div class="control-group ">
					<label class="control-label hugeLabel" for="examName">Nafn prófs</label>
					<div class="controls">
						<input class="hugeInput" type="text" id="examName" name="name" value="{{ exam.name }}" />
						<img id="nameLoader" style="margin-left: 15px; display: none;" height="23px" width="23px" src="/static/img/loader.gif" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label hugeLabel" for="examCreationDate">Upphafsdagur</label>
					<div class="controls">
						<input class="hugeDate" type="date" id="examCreationDate" name="creation_date" value="{{ exam.creation_date }}" /><img id="creationLoader" style="margin-left: 15px; display: none;" height="23px" width="23px" src="/static/img/loader.gif" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label hugeLabel" for="examDueDate">Skiladagur</label>
					<div class="controls"> 
						<input class="hugeDate" type="date" id="examDueDate" name="due_date_time" value="{{ exam.due_date_time }}" /><img id="dueLoader" style="margin-left: 15px; display: none;" height="23px" width="23px" src="/static/img/loader.gif" />
					</div>
				</div>
                <div class="control-group ">
                    <label class="control-label hugeLabel" for="examVideo">Myndband</label>
                    <div class="controls">
                        <input class="hugeInput" type="text" id="examVideo" name="name" {% if exam.video %} value="{{ exam.video }}" {% else %} placeholder="Slóð á myndband á MP4 formi"{% endif %} style="line-height: 40px;" />
                        <img id="videoLoader" style="margin-left: 15px; display: none;" height="23px" width="23px" src="/static/img/loader.gif" />
                    </div>
                </div>
			</div>
		</form>
		<div id="upperButtons">
			<button class="btn btn-success addQuestion" value="1">Bæta við spurningu</button>
		</div>
			<div id="questionList" >
				<hr/>
				{% if questions %}
					{% for q in questions %}
					<div id="Question-{{q.id}}" class="well"><button  class="close deleteButton" value="{{q.id}}" >&times;</button>
						<div class="control-group">
							<input class="questionInput" id="{{q.id}}" type="text" value="{{q.question}}" />
							<img id="Loader{{q.id}}" style="margin-left: 15px; display: none;" height="23px" width="23px" src="/static/img/loader.gif" />
						</div>
						<div id="OptionList-{{q.id}}">
							{% for o in q.option_set.all %}
									<div id="Option-{{o.id}}" class="well optionBox"><button class="close OptiondeleteButton" value="{{o.id}}">&times;</button>
										<div class="control-group">
											<input class="OptionInput" id="{{o.id}}" name="option-{{o.id}}" type="text" value="{{o.option}}" />
											<img id="optionLoader-{{o.id}}" style="margin-left: 15px; display: none;" height="23px" width="23px" src="/static/img/loader.gif" />
											<span style="margin: 0 10px 0 20px;">Rétt svar?</span>
											<input style="padding-left: 20px;" type="checkbox" id="{{o.id}}" value="{{o.correct}}"
											{% if o.correct == 1 %}checked="True"{% endif %} />
											<img id="CheckLoader-{{o.id}}" style="margin-left: 15px; display: none;" height="23px" width="23px" src="/static/img/loader.gif" />
										</div>
									</div>
							{% endfor %}
						</div>
						<button  class="btn btn-primary" value="{{q.id}}">Bæta við svarmöguleika</button>
					</div>
					{% endfor %}
				{% else %}
				<div id="noQuestions">
					<h1>Það eru engar spurningar í þessu prófi.<h1/>
				</div>
				{% endif %}
			</div>
		<div id="lowerButtons">
			<button class="btn btn-success addQuestion" value="2">Bæta við spurningu</button>
		</div>
	<a class="btn btn-large pull-right" href="{% url list_exams %}">Hætta</a>
</div>

<script id="QuestionTmpl" type="text/x-jquery-tmpl">
	<div id="Question-${id}" class="well"><button class="close deleteButton" value="${id}">&times;</button>
		<div class="control-group">
			<input class="questionInput" id="${id}" type="text" placeholder="Sláðu inn spurninguna þína hér .." style="line-height: 40px;" />
			<img id="Loader${id}" style="margin-left: 15px; display: none;" height="23px" width="23px" src="/static/img/loader.gif" />
		</div>
		<div id="OptionList-${id}"></div>
		<button  class="btn btn-primary" value="${id}">Bæta við svarmöguleika</button>
	</div>
</script>

<script id="OptionTmpl" type="text/x-jquery-tmpl">
	<div id="Option-${id}" class="well optionBox"><button class="close OptiondeleteButton" value="${id}">&times;</button>
		<div class="control-group">
			<input class="OptionInput" id="${id}" type="text" name="option-${id}" placeholder="Sláðu inn svarmöguleikann hér.."  />
			<img id="Loader${id}" style="margin-left: 15px; display: none;" height="23px" width="23px" src="/static/img/loader.gif" />
			<span style="margin: 0 10px 0 20px;">Rétt svar?</span>
			<input type="checkbox" id="${id}" value="0" />
			<img id="CheckLoader${id}" style="margin-left: 15px; display: none;" height="23px" width="23px" src="/static/img/loader.gif" />
		</div>
	</div>
</script>



{% endblock %}