{% extends 'NantiSchool/home.html' %}

{% block exams %}active{% endblock %}

{% block content %}

<style>
	#title {height: 50px;}
	#title a {color: black; font-weight: bold; font-size: 1.4em;}	
	.accordion-heading {padding-top: 3px;}
	.accordion-heading > .btn {height: 40px; margin-top: -3px; }
	.accordion-heading > a {margin: 0 2em; font-size: 1.3em; text-decoration: none; }

</style>

{% if exam_list %}
	<table class="table table-striped well">
		<thead>
			<th>Nafn á prófi</th>
			<th>Stofnað</th>
			<th>Skildagur</th>
			<th>Skilað?</th>
			<th>Þín einkunn</th>
			<th>Þitt sæti</th>
			<th>Fjöldi skila</th>
			{% if request.user.userprofile_set.get.is_teacher %}
			<th>Breyta</th>
			<th>Eyða</th>
			{% endif %}
		</thead>
		<tbody>
			{% for e in exam_list %}
				<tr>
					<td><a href="{% url take_exams e.id %}">{{e.name}}</a></td>
					<td>{{e.creation_date|date:'d/m/y'}}</td>
					<td>{{e.due_date_time|date:'d/m/y'}}</td>
					<td>
						{% if e.taken %}<p style="color: green;">Já</p>{% else %}<p style="color: red;">Nei</p>{% endif %}
					</td>
					<td>{% if e.grade %}{{e.grade|floatformat:2}}{% else %}-{% endif %}</td>
					<td>{% if e.position %}{{e.position}}{% else %}-{% endif %}</td>
					<td>{% if e.exam_count %}{{e.exam_count}}{% else %}0{% endif %}</td>
					{% if request.user.userprofile_set.get.is_teacher %}
					<td><a href="{% url edit_exams e.id %}">Breyta</a></td>
					<td><a href="{% url delete_exams e.id %}">Eyða</a></td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>	
{% else %}
	<h1>Það eru engin próf í kerfinu.</h1>
{% endif %}

{% endblock %}