{% extends 'NantiSchool/home.html' %}

{% block exams %}active{% endblock %}

{% block content %}
    <div class="row" id="takeExam">
        <div class="span1"></div>
        <div class="span8">
            <a class="btn btn-large pull-right" href="{% url list_exams %}">Hætta</a>
            {% if finished %}
                <h2 class="alert alert-success" style="margin-right: 100px;">Þú hefur nú þegar skilað þessu prófi, kisi.<h2>
            {% elif expired %}
                <h2 class="alert alert-danger" style="margin-right: 100px;">Prófið er útrunnið, kisi.</h2>
            {% else %}
                <input type="hidden" id="takes_exam"value="{{takes_exam.id}}" />
                <div class="modal-header">
                    <h1>{{ exam.name }}</h1>
                </div>
                {% if exam.video %}
                    <video width="320" height="240" controls>
                        <source src="{{ exam.video }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}

                <div class="modal-body" style="height: 100%">
                    <form method="POST" action="{% url take_exams exam.id%}" >{% csrf_token %}
                        <button type="submit" class="btn btn-primary">Skila prófi</button>
                    </form>
                    {% for q in exam.question_set.all %}
                        <div class="questionBox well">
                            <div class="modal-header">
                                <h3>{{q.question}}</h3>
                            </div>
                            <div class="modal-body">

                                {% for o in q.option_set.all %}
                                    <label class="radio">
                                        <input style="margin: 5px 10px 0 0;"
                                               id="{{o.id}}" type="radio"
                                               name="{{q.id}}"
                                               {% if o.studentanswersquestion_set.get.takes_exam.student.id == request.user.id %}checked{% endif %}>{{o.option}}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <form method="POST" action="{% url take_exams exam.id%}" >{% csrf_token %}
                        <button type="submit" class="btn btn-primary">Skila prófi</button>
                        <a class="btn btn-large pull-right" href="{% url list_exams %}">Hætta</a>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}